@using TestCase.Infrastructure.Data;
@model  Project;
@{
    var project = Model;
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">项目</a></li>
            <li><a href="#">详情</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box ">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-linux"></i>
                    <span>项目详情</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form class="col-xs-10 ">
                    <div class="form-group col-xs-10">
                        <span class="alert-link">#</span>
                        <label class="alert-link" name="proid">@project.Proid</label>
                        <input type="text" class="form-control" name="proname" value="@project.Proname"/>
                    </div>
                    <div class="form-group col-xs-10">
                        <label class="control-label">项目说明</label>
                        <textarea class="form-control" name="storage" style="height:200px;"></textarea>
                    </div>

                    <div class="col-xs-2 text-left form-group">
                        <label class="control-label">预期用时</label>
                        <input type="text" class="form-control" name="pretime" value="@project.Pretime"/>
                        <label class="control-label">实际用时</label>
                        <input type="text" class="form-control" name="realtime" value="@project.Realtime"/>
                        <label class="control-label">状态</label>
                        <div class="control-label">
                            <select class="populate placeholder" name="state" id="">
                                @if (project.State == "enable")
                                {
                                    <option value="enable">启用</option>
                                    <option value="unable">禁用</option>
                                }
                                else
                                {
                                    <option value="unable">禁用</option> 
                                    <option value="enable">启用</option>
                                    
                                }
                            </select>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-sm-offset-3">
                    <br />
                    <div class="btn-group-justified">
                        <a class="btn btn-default btn-link" id="cancel"><span><i class="fa fa-times-circle-o"></i></span> 取消</a>
                        <a class="btn btn-success btn-link" style="color:dimgray;" onclick="toUpdate()"><span><i class="fa fa-check-circle"></i></span> 提交</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
