@using TestCase.Infrastructure.Data;
@model User
@{ 
    var user = Model;
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户详情</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search">在职信息</i>
                    <span></span>
                </div>
                
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form id="update" method="post" action="@Url.Action("Update","_UserRelation")" class="form-horizontal">
                    <fieldset>
                        <legend name="user.detail.Uid">编号：@user.detail.Uid</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">职位</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="eid" value="@user.relation.Ename" />
                            </div>
                            <div class="clearfix"></div>
                            <label class="col-sm-3 control-label">所属项目</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="proid" value="@user.relation.Proname" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-sm-offset-2">
                    <div class="btn-group-justified">
                        <a class="btn btn-default btn-link" id="cancel"><span><i class="fa fa-times-circle-o"></i></span> 取消</a>
                        <a class="btn btn-success btn-link" style="color:dimgray;" onclick="toUpdate()"><span><i class="fa fa-check-circle"></i></span> 提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa  fa-bookmark">基本信息</i>
                </div>
                
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <fieldset>
                   
                    <div class="form-group">
                        <label class="col-sm-12 control-label">姓名:@user.detail.Uname</label>
                        <div class="clearfix"></div>
                        <label class="col-sm-12 control-label">邮箱:@user.detail.Email</label>
                        <div class="clearfix"></div>
                        <label class="col-sm-12 control-label">手机号码：@user.detail.Tel</label>
                    </div>
                </fieldset>
            </div>
        </div>
	</div>
</div>
<script src="~/base.js"></script>